<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    <h3><%= 5*5 %></h3>
    <h3><%= "Hello There".toUpperCase() %></h3>
    <h3><%= ['Hello','Bonjour'][1] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere vitae qui voluptate earum enim commodi sequi, dolorum architecto nam! Ratione, quasi quisquam! Et ipsa aliquam quam nobis quibusdam earum consequuntur.</p>
    <button>click me!</button>
</body>
</html>